<template>
  <div>
    <h1>Institutions</h1>
    <institution-list></institution-list>
  </div>
</template>

<script>
import SimpleApi from '../connectors/SimpleApi.js';
import InstitutionList from '../components/InstitutionList'
export default {
  name: 'Institutions',
  components: {
      InstitutionList
  },
  data(){
    return {
      institutions: null
    }
  },

  mounted(){
    var self = this;
    SimpleApi.API.Institutions.listAll()
      .then(response => {
        //console.log(response);
        self.institutions = response;
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
