<template>
    <b-container>
        <b-table striped hover :items="items" :per-page="perPage"
        show-empty
             stacked="md"
             :current-page="currentPage"
        ></b-table>
        <b-row>
            <b-col md="6" class="my-1">
                <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

import SimpleApi from '../connectors/SimpleApi.js';
var items = [ ];
export default {
    name: "InstitutionList",
    components: {
        SimpleApi
    },
    data(){
        return {
            items: items,
            currentPage: 1,
            perPage: 5,
            totalRows: 0,
        }
    },

    mounted(){
        var self = this;
        SimpleApi.API.Institutions.listAll()
        .then(response => {
            self.items = response;
            self.totalRows = response.length
        })
    }   
}
</script>

<!-- table-basic-1.vue -->