<template>


    <tr>
        <td>{{ institution.id  }}</td>
        <td>{{ institution.nome}}</td>
        <td>{{ endereco()  }}</td>
        <td>{{ nome()  }}</td>
    </tr>
</template>

<script>
export default {
  name: 'InstitutionList',
  data(){
    return {}
  },
  props: {
    institution: Object
  },
  methods: {
    nome: function(){
      return this.institution.city ? this.institution.city.name : 0
    },
    endereco: function(){
      return this.institution.endereco ? this.institution.endereco : ""
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
