<template>
  <div>
      Hey there I'm A form
  </div>
</template>

<script>
export default {
  name: 'InstitutionCreateForm',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
